body
{
    font-family: 'Raleway', sans-serif;
}
#bloc_page
{
    width: 97%;
    margin: auto;
    border: 1px solid black;
}
header
{
    display: flex;
    justify-content: space-between;
}
#logo_reservia
{
    display: flex;
}
#logo_reservia img
{
    width: 40%;
    height: auto;
}
nav ul
{
    display: flex;
    list-style-type: none;
}
nav li
{
    margin-right: 40px;
}
nav a
{
    text-decoration: none;
    color: black;
}
.a1 
{
    color: #0065FC
}
.a3 
{
    color: #0065FC;
    font-weight: bold;
}







h1
{
    font-size: 1.2em;
}
h2
{
    font-size: 0.8em;
}
#formulaire
{
    display: flex;
    justify-content: flex-start;
}
.elementformulaire:nth-child(1)
{
    border: 1px solid #F2F2F2;
    border-radius: 10px 0 0 10px;
    background-color: #F2F2F2;
    width: 45px;
}
.elementformulaire:nth-child(2)
{
    border: 1px solid #F2F2F2;
    font-weight: bold;
    width: 300px;
}
.elementformulaire:nth-child(3)
{
    border: 1px solid #F2F2F2;
    border-radius: 0 10px 10px 0;
    background-color: #0065FC;
    color: white;
    font-weight: bold;
}