body
{
    font-family: 'Raleway', sans-serif;
    font-size: 0.9em;
}
#bloc_page
{
    width: 97%;
    margin: auto;
    border: 1px solid red;
}
header
{
    display: flex;
    justify-content: space-between;
}
#logo_reservia
{
    display: flex;
}
#logo_reservia img
{
    width: 40%;
    height: auto;
}
nav ul
{
    display: flex;
    list-style-type: none;
}
nav li
{
    margin-right: 40px;
}
nav a
{
    text-decoration: none;
    color: black;
}
.a1 
{
    color: #0065FC
}
.a3 
{
    color: #0065FC;
    font-weight: bold;
}
#slogan
{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#slogan h1
{
    display: flex;
    margin-bottom: 0;
}
#slogan p
{
    display: flex;
    margin-top: 0.5em;
}
h1
{
    font-size: 1.5em;
}
#recherche
{
    display: flex;
    width: 33%;
}
#map_marker
{
    border: 1px solid #F2F2F2;
    border-radius: 10px 0 0 10px;
    background-color: #F2F2F2;
    width: 10%;
    text-align: center;
}
#espace_recherche
{
    border: 1px solid #F2F2F2;
    width: 60%;
    font-weight: bold;
    padding-left: 3%;
}
#bouton_recherche
{
    border-radius: 0 10px 10px 0;
    background-color: #0065FC;
    width: 40%;
    color: white;
    font-weight: bold;
    text-align: center;
}